$color-dark: #333;
$color-light: #fff;
$color-neutral: #656565; // https://en.wikipedia.org/wiki/Middle_gray

$hue-default: 200;
$color-default: hsl($hue-default, 90%, 40%);


$image-generic: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2M0MjLyYYCABkYopwHGOQNigKQAYr0FKif2cdoAAAAASUVORK5CYII=');
